/* Estilo general del cuerpo */
body {
    background-color: #323339;
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
    color: #ffffff;
    /* Color del texto */
}

/* Estilo de la navbar */
.navbar {
    margin: 0;
    padding: 0 20px;
    background-color: #202321;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    z-index: 9999999;
}

/* Estilo de los elementos dentro de la navbar */
.navbar .navbar-items {
    display: flex;
    gap: 15px;
}

/* Estilo para los enlaces dentro de la navbar */
.navbar .navbar-items a {
    color: #fff;
    text-decoratio: none;
    padding: 10px 15px;
    font-size: 16px;
    white-space: nowrap; /* Evita que los textos se separen en varias líneas */
}

.navbar .navbar-items a:hover {
    background-color: #555;
    border-radius: 4px;
}

.navbar-logo a img{
    width: 100%; /* 50% del ancho del contenedor */
    max-width: 150px; /* Limita el tamaño máximo */
    height: auto; /* Mantiene la proporción */
    margin-left: 100px;
}

/* Aplica la fuente a los textos del gráfico */
.highcharts-,
.highcharts-subtitle,
.highcharts-axis-labels text,
.highcharts-legend text,
.highcharts-tooltip text {
    font-family: "Arial", monospace;
    /* Aplica la fuente */
}

.kpi-title-1 {
    text-align: center;
    /* Centra el título en la página */
    font-size: 20px;
    /* Tamaño de la fuente */
    margin-bottom: 50px;
    /* Espacio entre el título y los KPIs */
    position: absolute;
    top: 100px;
    width: 45%;
    /* Asegura que el fondo cubra toda la anchura */
    color: #ffffff;
    /* Color del texto */
    background-color: #868686;
    /* Color de fondo corregido */
    padding: 20px 0;
    /* Espacio interior para mejorar la legibilidad */
}

.kpi-title-2 {
    text-align: center;
    /* Centra el título en la página */
    font-size: 20px;
    /* Tamaño de la fuente */
    margin-bottom: 20px;
    /* Espacio entre el título y los KPIs */
    position: absolute;
    margin-top: 250px;
    width: 45%;
    /* Asegura que el fondo cubra toda la anchura */
    color: #ffffff;
    /* Color del texto */
    background-color: #868686;
    /* Color de fondo corregido */
    padding: 20px 0;
    /* Espacio interior para mejorar la legibilidad */
}

.kpi-title-3 {
    text-align: center;
    /* Centra el título en la página */
    font-size: 20px;
    /* Tamaño de la fuente */
    margin-bottom: 50px;
    /* Espacio entre el título y los KPIs */
    position: relative;
    top: 400px;
    width: 45%;
    /* Asegura que el fondo cubra toda la anchura */
    color: #ffffff;
    /* Color del texto */
    background-color: #868686;
    /* Color de fondo corregido */
    padding: 20px 0;
    /* Espacio interior para mejorar la legibilidad */
}

.kpi-title-4 {
    text-align: center;
    /* Centra el título en la página */
    font-size: 20px;
    /* Tamaño de la fuente */
    margin-bottom: 50px;
    /* Espacio entre el título y los KPIs */
    position: relative;
    top: 450px;
    width: 45%;
    /* Asegura que el fondo cubra toda la anchura */
    color: #ffffff;
    /* Color del texto */
    background-color: #868686;
    /* Color de fondo corregido */
    padding: 20px 0;
    /* Espacio interior para mejorar la legibilidad */
}

/* Estilo de la gráfica */
.chart-container {
    position: relative;
    margin-top: 30px;
    width: 70%;
    /* Ajusta el ancho del contenedor a tu preferencia */
    height: 350px;
    /* La altura se ajustará automáticamente según el contenido */
    margin: 0px auto;
    /* Centra el contenedor horizontalmente con margen */
    border-radius: 4px;
    /* Bordes redondeados para el contenedor */
    background-color: #1f1d1c;
    /* Color de fondo del contenedor */
    padding: 10px;
    /* Espaciado interno */
    top: 350px;
}

/* Estilos para las tablas de fuentes */
.source-table {
    width: 60%;
    /* Ocupa el 100% del ancho del contenedor padre */
    border-collapse: collapse;
    /* Colapsa los bordes de las celdas adyacentes para que no se dupliquen */
    font-family: "Arial";
    /* Establece la fuente de texto de la tabla como Arial */
    font-size: 14px;
    /* Define el tamaño de la fuente dentro de la tabla */
    position: relative;
    /* Establece el posicionamiento de la tabla como relativo. Esto es útil si se aplican posicionamientos absolutos a elementos hijos */
    top: 220px;
    /* Añade un margen superior de 100 píxeles para separar la tabla del contenido superior */
    margin: 0 auto;
    /* Centra la tabla horizontalmente en su contenedor. La propiedad auto aplica márgenes automáticos a los lados izquierdo y derecho, mientras que el margen superior es de 0 píxeles */
    table-layout: fixed;
    /* Establece el diseño de la tabla en modo fijo, lo que asegura que las columnas tengan un ancho uniforme basado en el ancho especificado de la tabla */
    background-color: #333333;
}

.source-table th {
    border: 1px solid #333333;
    font-size: 14px;
    padding: 11px;
    text-align: center;
    background-color: #333333;
}

.source-table td {
    border: 1px solid #bfbdbd;
    padding: 11px;
    text-align: center;
}

.source-table th {
    background-color: #a1725a;
    /* Fondo de la cabecera */
    color: white;
    /* Color del texto de la cabecera */
    text-align: center;
}

.source-table td {
    text-align: left;
    background-color: #000000;
    color: #ffffff;
}

.source-table tr.highlight {
    background-color: #ff6347;
    /* Color para filas resaltadas */
}

/* Estilos para el formulario de filtros */
#filter-form {
    display: flex;
    align-items: center;
    padding: 20px;
    max-width: max-content;
    width: max-content;
    margin: 100px auto;
    gap: 20px;
}

#filter-form select {
    width: auto;
    padding: 10px;
    border: 1px solid #1f1d1c;
    color: #ffffff;
    background: #1f1d1c;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

#filter-form button {
    background-color: #1f1d1c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#filter-form button:hover {
    background-color: #1f1d1c;
}

#filter-form button:focus {
    outline: none;
}

.menu {
    display: none;
    flex-direction: column;
    width: 200px;
    background-color: #333;
    position: absolute;
    top: 60px;
    left: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.menu a {
    padding: 15px;
    color: white;
    text-decoration: none;
    text-align: center;
}

.menu a:hover {
    background-color: #555;
}

.hamburger {
    cursor: pointer;
    padding: 15px;
    background-color: #202321;
    color: white;
    display: inline-block;
    border-radius: 5px;
    margin: 10px;
    position: absolute;
}

.hamburger div {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
    transition: all 0.3s ease;
}

.hamburger.active div:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active div:nth-child(2) {
    opacity: 0;
}

.hamburger.active div:nth-child(3) {
    transform: rotate(-45deg) translate(5px, 5px);
}




.custom-select-source {
    position: relative;
    display: inline-block;
    width: 150px;
    color: white;
}

#source-select {
    width: 100%;
    padding: 13px;
    padding-right: 0px;
    border-radius: 4px;
    cursor: pointer;
    background-color: #1F1D1C;
    color: white;
    border: 0px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1F1D1C;
    width: 110%;
    z-index: 1;
    max-height: 600px;
    overflow-y: auto;
    border-radius: 6px;
}

.dropdown-content label {
    display: block;
    padding: 8px;
    cursor: pointer;
    background-color: #1F1D1C;
}

.dropdown-content label:hover {
    background-color: #151716;
}

#asesor-select {
    width: 100%;
    padding: 13px;
    padding-right: 0px;
    border-radius: 4px;
    cursor: pointer;
    background-color: #1F1D1C;
    color: white;
    border: 0px;
}





/* Estilos para el campo de entrada de fecha */
#dateRange {
    width: 100%; /* Asegúrate de que el campo de entrada tiene suficiente ancho */
    padding: 10px;
    border: 0;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
    background-color: #1F1D1C;
    cursor: pointer;
    color: white;
}

/* Estilos para el contenedor del calendario */
.flatpickr-calendar {
    position: absolute; /* Asegura que el calendario se posicione correctamente */
    z-index: 9999; /* Asegura que el calendario esté por encima de otros elementos */
    top: calc(100% + 5px); /* Posiciona el calendario justo debajo del campo de entrada */
    left: 0;
    margin-top: 20px;
    width: 100%; /* Asegura que el calendario tenga el mismo ancho que el campo de entrada */
    font-family: Arial, sans-serif;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #1F1D1C; /* Fondo del calendario */
    color: white; /* Color del texto */
}

/* Estilos para el calendario de rango */
.flatpickr-day.range.startRange,
.flatpickr-day.range.endRange,
.flatpickr-day.inRange {
    background-color: #3a3a3a; /* Color de fondo para el rango seleccionado */
    color: #fff;
}

.flatpickr-day.selected {
    background-color: #4a4a4a; /* Color de fondo para el día seleccionado */
    color: #fff;
}

/* Estilo para los días fuera del rango seleccionado */
.flatpickr-day.disabled {
    color: #666; /* Color gris para días deshabilitados */
}

/* Estilos para los botones del calendario */
.flatpickr-button {
    background-color: #333; /* Color de fondo para los botones del calendario */
    color: #fff; /* Color del texto de los botones */
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
}

.flatpickr-button:hover {
    background-color: #555; /* Color más claro para el estado hover de los botones */
}




/* Estilos para las tablas de fuentes */
.event-table {
    width: 60%;
    /* Ocupa el 100% del ancho del contenedor padre */
    border-collapse: collapse;
    /* Colapsa los bordes de las celdas adyacentes para que no se dupliquen */
    font-family: "Arial";
    /* Establece la fuente de texto de la tabla como Arial */
    font-size: 14px;
    /* Define el tamaño de la fuente dentro de la tabla */
    position: relative;
    /* Establece el posicionamiento de la tabla como relativo. Esto es útil si se aplican posicionamientos absolutos a elementos hijos */
    top: 410px;
    /* Añade un margen superior de 100 píxeles para separar la tabla del contenido superior */
    margin: 0 auto;
    /* Centra la tabla horizontalmente en su contenedor. La propiedad auto aplica márgenes automáticos a los lados izquierdo y derecho, mientras que el margen superior es de 0 píxeles */
    table-layout: fixed;
    /* Establece el diseño de la tabla en modo fijo, lo que asegura que las columnas tengan un ancho uniforme basado en el ancho especificado de la tabla */
    background-color: #333333;
}

.event-table th {
    border: 1px solid #333333;
    font-size: 14px;
    padding: 11px;
    text-align: center;
    background-color: #333333;
}

.event-table td {
    border: 1px solid #bfbdbd;
    padding: 11px;
    text-align: center;
}

.event-table th {
    background-color: #a1725a;
    /* Fondo de la cabecera */
    color: white;
    /* Color del texto de la cabecera */
    text-align: center;
}

.event-table td {
    text-align: left;
    background-color: #000000;
    color: #ffffff;
}

.event-table tr.highlight {
    background-color: #ff6347;
    /* Color para filas resaltadas */
}




.fuente-table {
    width: 60%;
    /* Ocupa el 100% del ancho del contenedor padre */
    border-collapse: collapse;
    /* Colapsa los bordes de las celdas adyacentes para que no se dupliquen */
    font-family: "Arial";
    /* Establece la fuente de texto de la tabla como Arial */
    font-size: 14px;
    /* Define el tamaño de la fuente dentro de la tabla */
    position: relative;
    /* Establece el posicionamiento de la tabla como relativo. Esto es útil si se aplican posicionamientos absolutos a elementos hijos */
    top: 450px;
    /* Añade un margen superior de 100 píxeles para separar la tabla del contenido superior */
    margin: 0 auto;
    /* Centra la tabla horizontalmente en su contenedor. La propiedad auto aplica márgenes automáticos a los lados izquierdo y derecho, mientras que el margen superior es de 0 píxeles */
    table-layout: fixed;
    /* Establece el diseño de la tabla en modo fijo, lo que asegura que las columnas tengan un ancho uniforme basado en el ancho especificado de la tabla */
    background-color: #333333;
}

.fuente-table th {
    border: 1px solid #333333;
    font-size: 14px;
    padding: 11px;
    text-align: center;
    background-color: #333333;
}

.fuente-table td {
    border: 1px solid #bfbdbd;
    padding: 11px;
    text-align: center;
}

.fuente-table th {
    background-color: #a1725a;
    /* Fondo de la cabecera */
    color: white;
    /* Color del texto de la cabecera */
    text-align: center;
}

.fuente-table td {
    text-align: left;
    background-color: #000000;
    color: #ffffff;
}

.fuente-table tr.highlight {
    background-color: #ff6347;
    /* Color para filas resaltadas */
}