<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-store">
    <title>Satori Dashboard</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" th:href="@{/css/stylesComercial.css}">

    <!-- Highcharts -->
    <script src="https://code.highcharts.com/highcharts.js" defer></script>

    <!-- Bootstrap JS Bundle (includes Popper) -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js" defer></script>

    <!-- Custom JavaScript -->
    <script src="/js/comercial.js" defer></script>

</head>

<body>

<div th:fragment="navbar">
    <div class="navbar-container">
        <nav class="navbar">
            <div class="navbar-logo">
                <a href="/home">
                    <img th:src="@{/img/satorilogo.png}" alt="Satori Logo">
                </a>
            </div>

            <div class="hamburger" onclick="toggleMenu()">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="menu" id="menu">
                <a href="/home">Inicio</a>
                <a href="/mercadeo">Mercadeo</a>
                <a href="/comercial">Comercial</a>
            </div>
            <div class="container">
                <form id="filter-form" action="/filterComercial" method="post">

                    <div class="custom-select-source">
                        <input type="text" id="source-select" placeholder="Select fuente(s)" readonly onclick="toggleSourceDropdown()">
                        <div id="source-dropdown" class="dropdown-content">
                            <label><input type="checkbox" name="source" value="67" /> Cartera Propia</label>
                            <label><input type="checkbox" name="source" value="68" /> Espectacular</label>
                            <label><input type="checkbox" name="source" value="20" /> Evento</label>
                            <label><input type="checkbox" name="source" value="28" /> Facebook</label>
                            <label><input type="checkbox" name="source" value="30" /> Instagram</label>
                            <label><input type="checkbox" name="source" value="114" /> LinkedIn</label>
                            <label><input type="checkbox" name="source" value="71" /> Real Estate</label>
                            <label><input type="checkbox" name="source" value="23" /> Referido</label>
                            <label><input type="checkbox" name="source" value="77" /> Sitio Web</label>
                            <label><input type="checkbox" name="source" value="69" /> Tapial Obra</label>
                            <label><input type="checkbox" name="source" value="70" /> Tapial ShowRoom</label>
                            <label><input type="checkbox" name="source" value="87" /> TikTok</label>
                            <label><input type="checkbox" name="source" value="73" /> Valla Publicitaria</label>
                            <label><input type="checkbox" name="source" value="65" /> WhatsApp</label>
                            <label><input type="checkbox" name="source" value="18" /> X</label>
                            <label><input type="checkbox" name="source" value="26" /> YouTube</label>
                        </div>
                    </div>


                    <div class="custom-select-asesor">
                        <input type="text" id="asesor-select" placeholder="Select asesor(es)" readonly onclick="toggleAsesorDropdown()">
                        <div id="asesor-dropdown" class="dropdown-content">
                            <label><input type="checkbox" name="ownerName" value="all" th:checked="${selectedOwner == 'all'}" /> Asesor</label>
                            <th:block th:each="asesor : ${combinedAdvisorStats}">
                                <label>
                                    <input type="checkbox" name="ownerName" th:value="${asesor.advisor}" th:checked="${selectedOwner == asesor.advisor}" />
                                    <span th:text="${asesor.advisor}"></span>
                                </label>
                            </th:block>
                        </div>
                    </div>

                    <div class="custom-select" style="position: relative;">
                        <input type="text" id="dateRange" name="dateRange" placeholder="Select date range">
                    </div>

                    <button type="submit">Filtrar</button>
                </form>
            </div>
        </nav>
    </div>
</div>

<!-- Título general para los KPIs -->
<h2 class="kpi-title-1">¿Qué hicieron los asesores este periodo?</h2>

<!-- Tabla para mostrar datos por asesor -->
<table class="source-table">
    <thead>

    <tr>
        <th>Asesor</th>
        <th>Leads</th>
        <th>Citas</th>
        <th>Visitas</th>
        <th>Negociaciones</th>
        <th>Apartados</th>
        <th>Ganados</th>
    </tr>
    </thead>
    <tbody>

    <!-- Iterar sobre la lista combinada de asesores y estadísticas -->
    <tr th:each="entry : ${combinedAdvisorStats}">
        <td th:text="${entry.advisor}">Nombre del Asesor</td>
        <td th:text="${entry.deals}" style="text-align: center;">Número de Deals</td>
        <td th:text="${entry.cita}" style="text-align: center;">Número de Citas</td>
        <td th:text="${entry.visita}" style="text-align: center;">Número de Visitas</td>
        <td th:text="${entry.negociacion}" style="text-align: center;">Número de Negociaciones</td>
        <td th:text="${entry.apartado}" style="text-align: center;">Número de Apartados</td>
        <td th:text="${entry.ganado}" style="text-align: center;">Número de Ganados</td>
    </tr>
    </tbody>
    <tfoot>

    <!-- Muestra los totales en el pie de la tabla -->
    <tr>
        <th>Total</th>
        <td th:text="${totalDeals}" style="text-align: center; font-weight: bold;">0</td>
        <td th:text="${totalCitas}" style="text-align: center; font-weight: bold;">0</td>
        <td th:text="${totalVisitas}" style="text-align: center; font-weight: bold;">0</td>
        <td th:text="${totalNegociaciones}" style="text-align: center; font-weight: bold;">0</td>
        <td th:text="${totalApartados}" style="text-align: center; font-weight: bold;">0</td>
        <td th:text="${totalWonDeals}" style="text-align: center; font-weight: bold;">0</td>
    </tr>
    </tfoot>

</table>

<!-- Título general para los KPIs -->
<h2 class="kpi-title-2">¿Cuántas actividades se realizaron este periodo?</h2>

<!-- Gráfica de tendencia -->
<div id="chart-container" class="chart-container"></div>

<!-- Contenedor para la gráfica -->
<script th:inline="javascript">
    /*<![CDATA[*/
    var fechas = /*[[${fechas}]]*/;
    var series = /*[[${series}]]*/;
    /*]]>*/
</script>
</body>
</html>