<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{home :: head('Home', null)}"></head>
<body>
<div th:replace="~{home :: navbar}"></div>

<section>
    <div class="section-container">

        <h2 class="kpi-title">¿Qué hicieron los asesores este periodo?</h2>

        <button id="botonExportarTablaAsesores" class="custom-button">
            <i class="fas fa-file-csv"></i> Exportar a CSV
        </button>

        <table class="leads-table">
            <thead>

            <tr>
                <th>Asesor</th>
                <th>Leads</th>
                <th>Citas</th>
                <th>Visitas</th>
                <th>Negociaciones</th>
                <th>Apartados</th>
                <th>Ganados</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="entry : ${combinedAdvisorStats}">
                <td th:text="${#strings.toLowerCase(entry.advisor)}" style="text-transform: capitalize">Nombre del Asesor</td>
                <td th:text="${entry.deals}" style="text-align: center;">Número de Deals</td>
                <td th:text="${entry.cita}" style="text-align: center;">Número de Citas</td>
                <td th:text="${entry.visita}" style="text-align: center;">Número de Visitas</td>
                <td th:text="${entry.negociacion}" style="text-align: center;">Número de Negociaciones</td>
                <td th:text="${entry.apartado}" style="text-align: center;">Número de Apartados</td>
                <td th:text="${entry.ganado}" style="text-align: center;">Número de Ganados</td>
            </tr>
            </tbody>
            <tfoot>

            <tr>
                <th>Total</th>
                <td th:text="${totalDeals}" style="text-align: center; font-weight: bold;">0</td>
                <td th:text="${totalCitas}" style="text-align: center; font-weight: bold;">0</td>
                <td th:text="${totalVisitas}" style="text-align: center; font-weight: bold;">0</td>
                <td th:text="${totalNegociaciones}" style="text-align: center; font-weight: bold;">0</td>
                <td th:text="${totalApartados}" style="text-align: center; font-weight: bold;">0</td>
                <td th:text="${totalWonDeals}" style="text-align: center; font-weight: bold;">0</td>
            </tr>
            </tfoot>

        </table>
    </div>
</section>

<section>
    <div class="section-container">
        <h2 class="kpi-title">¿Qué hicieron los asesores este periodo?</h2>

        <button id="botonExportarTablaAsesoresConversion" class="custom-button">
            <i class="fas fa-file-csv"></i> Exportar a CSV
        </button>

        <table class="leads-table">
            <thead>

            <tr>
                <th>Asesor</th>
                <th>Leads</th>
                <th>Citas</th>
                <th>Visitas</th>
                <th>Negociaciones</th>
                <th>Apartados</th>
                <th>Ganados</th>
            </tr>
            </thead>
            <tbody>

            <!-- Iterar sobre la lista combinada de asesores y estadísticas -->
            <tr th:each="entry : ${combinedAdvisorConversionStats}">
                <td th:text="${#strings.toLowerCase(entry.advisor)}" style="text-transform: capitalize">Nombre del Asesor</td>
                <td th:text="${entry.deals}" style="text-align: center;">Número de Deals</td>
                <td th:text="${#numbers.formatDecimal(entry.cita, 0, 1)} + '%'" style="text-align: center;">Número de Citas</td>
                <td th:text="${#numbers.formatDecimal(entry.visita, 0, 1)} + '%'" style="text-align: center;">Número de Visitas</td>
                <td th:text="${#numbers.formatDecimal(entry.negociacion, 0, 1)} + '%'" style="text-align: center;">Número de Negociaciones</td>
                <td th:text="${#numbers.formatDecimal(entry.apartado, 0, 1)} + '%'" style="text-align: center;">Número de Apartados</td>
                <td th:text="${#numbers.formatDecimal(entry.ganado, 0, 1)} + '%'" style="text-align: center;">Número de Ganados</td>
            </tr>
            </tbody>
            <tfoot>

            <!-- Muestra los totales en el pie de la tabla -->
            <tr>
                <th>Total</th>
                <td th:text="${totalDeals}" style="text-align: center; font-weight: bold;">0</td>
                <td th:text="${#numbers.formatDecimal(citas, 0, 1)} + '%'" style="text-align: center; font-weight: bold;">0</td>
                <td th:text="${#numbers.formatDecimal(visitas, 0, 1)} + '%'" style="text-align: center; font-weight: bold;">0</td>
                <td th:text="${#numbers.formatDecimal(negociaciones, 0, 1)} + '%'" style="text-align: center; font-weight: bold;">0</td>
                <td th:text="${#numbers.formatDecimal(apartados, 0 ,1)} + '%'" style="text-align: center; font-weight: bold;">0</td>
                <td th:text="${#numbers.formatDecimal(wonDeals, 0, 1)} + '%'" style="text-align: center; font-weight: bold;">0</td>
            </tr>
            </tfoot>

        </table>
    </div>
</section>

<section>
    <!-- Título general para los KPIs -->
    <div class="section-container">
        <h2 class="kpi-title">¿Cuántas actividades se realizaron este periodo?</h2>


        <!-- Gráfica de tendencia -->
        <div id="chart-container-comercial" class="chart-container-comercial">

        </div>

        <!-- Contenedor para la gráfica -->
        <script th:inline="javascript">
            /*<![CDATA[*/
            var fechas = /*[[${fechas}]]*/ [];
            var series = /*[[${series}]]*/ [];
            /*]]>*/
        </script>

        <script th:src="@{/js/comercial.js}"></script>
    </div>
</section>

<section>

    <div class="section-container">
        <h2 class="kpi-title">
            ¿Que fuentes fueron mas efectivas?
        </h2>

        <button id="botonExportarTablaFuente" class="custom-button">
            <i class="fas fa-file-csv"></i> Exportar a CSV
        </button>

        <table class="leads-table">
            <thead>

            <tr>
                <th>Fuente</th>
                <th>Leads</th>
                <th>Citas</th>
                <th>Visitas</th>
                <th>Negociaciones</th>
                <th>Apartados</th>
                <th>Ganados</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="entry : ${combinedFuenteStats}">
                <td th:text="${entry.fuente}">Nombre del Asesor</td>
                <td th:text="${entry.deals}" style="text-align: center;">Número de Deals</td>
                <td th:text="${entry.cita}" style="text-align: center;">Número de Citas</td>
                <td th:text="${entry.visita}" style="text-align: center;">Número de Visitas</td>
                <td th:text="${entry.negociacion}" style="text-align: center;">Número de Negociaciones</td>
                <td th:text="${entry.apartado}" style="text-align: center;">Número de Apartados</td>
                <td th:text="${entry.ganado}" style="text-align: center;">Número de Ganados</td>
            </tr>
            </tbody>
            <tfoot>

            <!-- Muestra los totales en el pie de la tabla -->
            <tr>
                <th>Total</th>
                <td th:text="${totalDealsFuente}" style="text-align: center; font-weight: bold;">0</td>
                <td th:text="${totalCitasFuente}" style="text-align: center; font-weight: bold;">0</td>
                <td th:text="${totalVisitasFuente}" style="text-align: center; font-weight: bold;">0</td>
                <td th:text="${totalNegociacionesFuente}" style="text-align: center; font-weight: bold;">0</td>
                <td th:text="${totalApartadosFuente}" style="text-align: center; font-weight: bold;">0</td>
                <td th:text="${totalWonDealsFuente}" style="text-align: center; font-weight: bold;">0</td>
            </tr>
            </tfoot>

        </table>
    </div>
</section>

<section>
    <!-- Título general para los KPIs -->
    <div class="section-container">
        <h2 class="kpi-title">¿Que fuentes fueron mas efectivas?</h2>

        <button id="botonExportarTablaFuenteConversion" class="custom-button">
            <i class="fas fa-file-csv"></i> Exportar a CSV
        </button>

        <table class="leads-table">
            <thead>

            <tr>
                <th>Fuente</th>
                <th>Leads</th>
                <th>Citas</th>
                <th>Visitas</th>
                <th>Negociaciones</th>
                <th>Apartados</th>
                <th>Ganados</th>
            </tr>
            </thead>
            <tbody>

            <!-- Iterar sobre la lista combinada de fuente y estadísticas -->
            <tr th:each="entry : ${combinedFuenteStatsConversion}">
                <td th:text="${entry.fuente}">Nombre del Asesor</td>
                <td th:text="${entry.deals}" style="text-align: center;">Número de Deals</td>
                <td th:text="${#numbers.formatDecimal(entry.cita, 0, 1)} + '%'" style="text-align: center;">Número de Citas</td>
                <td th:text="${#numbers.formatDecimal(entry.visita, 0, 1)} + '%'" style="text-align: center;">Número de Visitas</td>
                <td th:text="${#numbers.formatDecimal(entry.negociacion, 0, 1)} + '%'" style="text-align: center;">Número de Negociaciones</td>
                <td th:text="${#numbers.formatDecimal(entry.apartado, 0, 1)} + '%'" style="text-align: center;">Número de Apartados</td>
                <td th:text="${#numbers.formatDecimal(entry.ganado, 0, 1)} + '%'" style="text-align: center;">Número de Ganados</td>
            </tr>
            </tbody>
            <tfoot>

            <!-- Muestra los totales en el pie de la tabla -->
            <tr>
                <th>Total</th>
                <td th:text="${totalDealsFuente}" style="text-align: center; font-weight: bold;">0</td>
                <td th:text="${#numbers.formatDecimal(citasFuente, 0, 1)} + '%'" style="text-align: center; font-weight: bold;">0</td>
                <td th:text="${#numbers.formatDecimal(visitasFuente, 0, 1)} + '%'" style="text-align: center; font-weight: bold;">0</td>
                <td th:text="${#numbers.formatDecimal(negociacionesFuente, 0, 1)} + '%'" style="text-align: center; font-weight: bold;">0</td>
                <td th:text="${#numbers.formatDecimal(apartadosFuente, 0 ,1)} + '%'" style="text-align: center; font-weight: bold;">0</td>
                <td th:text="${#numbers.formatDecimal(wonDealsFuente, 0, 1)} + '%'" style="text-align: center; font-weight: bold;">0</td>
            </tr>
            </tfoot>
        </table>
    </div>
</section>
</body>

</html>