<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title, links)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500&display=swap" rel="stylesheet">
    <title th:text="${title}">Default Title</title>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="/js/mercadeo.js" defer></script>

</head>

<body>
<div th:fragment="navbar">
    <div class="navbar-container">
        <nav class="navbar">
            <div class="navbar-logo">
                <a href="/home">
                    <img th:src="@{/img/satorilogo.png}" alt="Satori Logo">
                </a>
            </div>

            <div class="hamburger" onclick="toggleMenu()">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="menu" id="menu">
                <a href="/home">Inicio</a>
                <a href="/mercadeo">Mercadeo</a>
                <a href="/comercial">Comercial</a>
            </div>
            <div class="container">
                <form id="filter-form" action="/mercadeoFilter" method="post">

                    <div class="custom-select-source">
                        <input type="text" id="source-select" placeholder="Select fuente(s)" readonly onclick="toggleSourceDropdown()">
                        <div id="source-dropdown" class="dropdown-content">
                            <label><input type="checkbox" name="source" value="67" /> Cartera Propia</label>
                            <label><input type="checkbox" name="source" value="68" /> Espectacular</label>
                            <label><input type="checkbox" name="source" value="20" /> Evento</label>
                            <label><input type="checkbox" name="source" value="28" /> Facebook</label>
                            <label><input type="checkbox" name="source" value="30" /> Instagram</label>
                            <label><input type="checkbox" name="source" value="114" /> LinkedIn</label>
                            <label><input type="checkbox" name="source" value="71" /> Real Estate</label>
                            <label><input type="checkbox" name="source" value="23" /> Referido</label>
                            <label><input type="checkbox" name="source" value="77" /> Sitio Web</label>
                            <label><input type="checkbox" name="source" value="69" /> Tapial Obra</label>
                            <label><input type="checkbox" name="source" value="70" /> Tapial ShowRoom</label>
                            <label><input type="checkbox" name="source" value="87" /> TikTok</label>
                            <label><input type="checkbox" name="source" value="73" /> Valla Publicitaria</label>
                            <label><input type="checkbox" name="source" value="65" /> WhatsApp</label>
                            <label><input type="checkbox" name="source" value="18" /> X</label>
                            <label><input type="checkbox" name="source" value="26" /> YouTube</label>
                        </div>
                    </div>


                    <div class="custom-select-asesor">
                        <input type="text" id="asesor-select" placeholder="Select asesor(es)" readonly onclick="toggleAsesorDropdown()">
                        <div id="asesor-dropdown" class="dropdown-content">
                            <label><input type="checkbox" name="ownerName" value="all" th:checked="${selectedOwner == 'all'}" /> Asesor</label>
                            <th:block th:each="asesor : ${asesores}">
                                <label>
                                    <input type="checkbox" name="ownerName" th:value="${asesor}" th:checked="${selectedOwner == asesor}" />
                                    <span th:text="${asesor}"></span>
                                </label>
                            </th:block>
                        </div>
                    </div>

                    <label for="startDate"></label>
                    <input type="date" id="startDate" name="startDate" th:value="${startDate}">

                    <label for="endDate"></label>
                    <input type="date" id="endDate" name="endDate" th:value="${endDate}">

                    <button type="submit">Filtrar</button>
                </form>
            </div>
        </nav>
    </div>
</div>
</body>
</html>
