<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{home :: head('Home', null)}"></head>
<body>
<div th:replace="~{home :: navbar}"></div>

<!-- Título general para los KPIs -->
<h2 class="kpi-title-1">¿La estrategia nos entrega suficientes Leads de calidad?</h2>

<!-- Contenedor para los cuadros KPI -->
<div class="kpi-container">
    <!-- Cuadro para mostrar el total de tratos -->
    <div class="kpi-box">
        <div class="kpi-label">Deals</div>
        <div class="kpi-value" th:text="${totalDeals}">0</div>
    </div>
    <!-- Cuadro para mostrar el total de Interesados -->
    <div class="kpi-box">
        <div class="kpi-label">Interesados</div>
        <div class="kpi-value" th:text="${totalInteresados}">0</div>
    </div>
    <!-- Cuadro para mostrar el total de Contactados -->
    <div class="kpi-box">
        <div class="kpi-label">Contactados</div>
        <div class="kpi-value" th:text="${totalContactado}">0</div>
    </div>
    <!-- Cuadro para mostrar el total de citas -->
    <div class="kpi-box">
        <div class="kpi-label">Citas</div>
        <div class="kpi-value" th:text="${totalCitas}">0</div>
    </div>
    <!-- Cuadro para mostrar el total de visitas -->
    <div class="kpi-box">
        <div class="kpi-label">Visitas</div>
        <div class="kpi-value" th:text="${totalVisitas}">0</div>
    </div>
    <!-- Cuadro para mostrar el total de negociaciones -->
    <div class="kpi-box">
        <div class="kpi-label">Negociaciones</div>
        <div class="kpi-value" th:text="${totalNegociaciones}">0</div>
    </div>
    <!-- Cuadro para mostrar el total de apartados -->
    <div class="kpi-box">
        <div class="kpi-label">Apartados</div>
        <div class="kpi-value" th:text="${totalApartados}">0</div>
    </div>
</div>

<!-- Contenedor para la gráfica -->
<div id="chart-container" class="chart-container"></div>

<script th:inline="javascript">
    /*<![CDATA[*/
    let chart;
    var dealsDates = /*[[${dealsDates}]]*/
    var dealsCounts = /*[[${dealsCounts}]]*/;
    var interesados = /*[[${interesados}]]*/
    var contactados = /*[[${contactados}]]*/
    var citas = /*[[${citas}]]*/
    var visitas = /*[[${visitas}]]*/
    var negociaciones = /*[[${negociaciones}]]*/
    var apartados = /*[[${apartados}]]*/
    /*]]>*/
</script>

<!-- Título general para los KPIs -->
<h2 class="kpi-title-2">¿Cuales son las fuentes mas efectivas?</h2>

<!-- Tabla para mostrar datos por fuente -->
<table class="source-table">
    <thead>
    <tr>
        <th style="text-align: center;">Fuente</th>
        <th style="text-align: center;">Leads</th>
        <th style="text-align: center;">Interesados</th>
        <th style="text-align: center;">Contactados</th>
        <th style="text-align: center;">Citas</th>
        <th style="text-align: center;">Visitas</th>
        <th style="text-align: center;">Negociaciones</th>
        <th style="text-align: center;">Apartados</th>
        <th style="text-align: center;">Abiertos</th>
        <th style="text-align: center;">Perdidos</th>
        <th style="text-align: center;">Ganados</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="entry : ${dealsBySource}">
        <td th:text="${entry.key}">Fuente</td>
        <td th:text="${totalDealsBySource[entry.key] != null ? totalDealsBySource[entry.key] : 0}" data-value="${totalDealsBySource[entry.key] != null ? totalDealsBySource[entry.key] : 0}" style="text-align: center;">0
        </td>
        <td th:text="${entry.value['Interesado'] != null ? entry.value['Interesado'] : 0}" data-value="${entry.value['Interesado'] != null ? entry.value['Interesado'] : 0}" style="text-align: center;">0
        </td>
        <td th:text="${entry.value['Contactado'] != null ? entry.value['Contactado'] : 0}" data-value="${entry.value['Contactado'] != null ? entry.value['Contactado'] : 0}" style="text-align: center;">0
        </td>
        <td th:text="${entry.value['Cita'] != null ? entry.value['Cita'] : 0}" data-value="${entry.value['Cita'] != null ? entry.value['Cita'] : 0}" style="text-align: center;">0
        </td>
        <td th:text="${entry.value['Visita'] != null ? entry.value['Visita'] : 0}" data-value="${entry.value['Visita'] != null ? entry.value['Visita'] : 0}" style="text-align: center;">0
        </td>
        <td th:text="${entry.value['Negociación'] != null ? entry.value['Negociación'] : 0}" data-value="${entry.value['Negociación'] != null ? entry.value['Negociación'] : 0}" style="text-align: center;">0
        </td>
        <td th:text="${entry.value['Apartado'] != null ? entry.value['Apartado'] : 0}" data-value="${entry.value['Apartado'] != null ? entry.value['Apartado'] : 0}" style="text-align: center;">0
        </td>
        <td th:text="${openDealsBySource[entry.key] != null ? openDealsBySource[entry.key] : 0}" data-value="${openDealsBySource[entry.key] != null ? openDealsBySource[entry.key] : 0}" style="text-align: center;">0
        </td>
        <td th:text="${lostDealsBySource[entry.key] != null ? lostDealsBySource[entry.key] : 0}" data-value="${lostDealsBySource[entry.key] != null ? lostDealsBySource[entry.key] : 0}" style="text-align: center;">0
        </td>
        <td th:text="${wonDealsBySource[entry.key] != null ? wonDealsBySource[entry.key] : 0}" data-value="${wonDealsBySource[entry.key] != null ? wonDealsBySource[entry.key] : 0}" style="text-align: center;">0
        </td>
    </tr>
    </tbody>

    <tfoot>
    <tr>
        <th style="text-align: center; font-weight: bold;">Total</th>
        <td th:text="${totalDeals}" style="text-align: center; font-weight: bold;">0</td>
        <td th:text="${totalInteresados}" style="text-align: center; font-weight: bold ;">0</td>
        <td th:text="${totalContactado}" style="text-align: center; font-weight: bold ;">0</td>
        <td th:text="${totalCitas}" style="text-align: center; font-weight: bold ;">0</td>
        <td th:text="${totalVisitas}" style="text-align: center; font-weight: bold ;">0</td>
        <td th:text="${totalNegociaciones}" style="text-align: center; font-weight: bold ;">0</td>
        <td th:text="${totalApartados}" style="text-align: center; font-weight: bold ;">0</td>
        <td th:text="${totalOpenDeals}" style="text-align: center; font-weight: bold ;">0</td>
        <td th:text="${totalLostDeals}" style="text-align: center; font-weight: bold ;">0</td>
        <td th:text="${totalWonDeals}" style="text-align: center; font-weight: bold ;">0</td>
    </tr>
    </tfoot>
</table>

<!-- Título general para los KPIs -->
<h2 class="kpi-title-3">¿Qué no está funcionando?</h2>

<!-- Contenedor para la tabla y gráfica -->
<div class="table-chart-container">
    <!-- Tabla de razones de pérdida -->
    <table class="source-table-reason">
        <thead>
        <tr>
            <th style="text-align: center; font-weight: bold ;">Razón de Pérdida</th>
            <th style="text-align: center; font-weight: bold ;">Total</th>
            <th style="text-align: center; font-weight: bold ;">Porcentaje</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="entry : ${sortedLostReasons}" style="text-align: left;">
            <td th:text="${entry.key}" style="text-align: left;"></td>
            <td th:text="${entry.value}" style="text-align: center;"></td>
            <td th:text="${reasonsWithPercentages[entry.key]}" style="text-align: center;"></td>
        </tr>
        <tr class="total">
            <td style="background-color: #a1725a; font-weight: bold ;"><strong>Total</strong></td>
            <td th:text="${totalLostReasons}" style="text-align: center; font-weight: bold ;">0</td>
            <td style="text-align: center; font-weight: bold ;">100%</td>
        </tr>
        </tbody>
    </table>

    <!-- Contenedor para la gráfica de pastel -->
    <div id="pie-container"></div>
</div>
<!-- Título general para los KPIs -->
<h2 class="kpi-title-4">¿Qué no está funcionando?</h2>
<script th:inline="javascript">
    /*<![CDATA[*/
    var sortedLostReasons = /*[[${sortedLostReasons}]]*/ {};
    /*]]>*/
</script>

<div id="container" style="width: 50%; height: 400px;"></div>
<script th:inline="javascript">
    /*<![CDATA[*/
    const openDeals = /*[[${orderedOpenDeals}]]*/ [];
    const lostDeals = /*[[${orderedLostDeals}]]*/ [];
    const wonDeals = /*[[${orderedWonDeals}]]*/ [];
    const totalOpenDeals = /*[[${totalOpenDeals}]]*/ [];
    const totalLostDeals = /*[[${totalLostDeals}]]*/ [];
    const totalWonDeals = /*[[${totalWonDeals}]]*/ [];
    /*]]>*/
</script>
</body>

</html>