<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="home :: head('Home', null)"></head>
<body>
<div th:replace="home :: navbar"></div>

<!-- Título general para los KPIs -->
<h2 class="kpi-title-1">¿La estrategia nos entrega suficientes Leads de calidad?</h2>

<!-- Contenedor para los cuadros KPI -->
<div class="kpi-container">
    <!-- Cuadro para mostrar el total de tratos -->
    <div class="kpi-box">
        <div class="kpi-label">Deals</div>
        <div class="kpi-value" th:text="${totalDeals}">0</div>
    </div>
    <!-- Cuadro para mostrar el total de Interesados -->
    <div class="kpi-box">
        <div class="kpi-label">Interesados</div>
        <div class="kpi-value" th:text="${totalInteresados}">0</div>
    </div>
    <!-- Cuadro para mostrar el total de Contactados -->
    <div class="kpi-box">
        <div class="kpi-label">Contactados</div>
        <div class="kpi-value" th:text="${totalContactado}">0</div>
    </div>
    <!-- Cuadro para mostrar el total de citas -->
    <div class="kpi-box">
        <div class="kpi-label">Citas</div>
        <div class="kpi-value" th:text="${totalCitas}">0</div>
    </div>
    <!-- Cuadro para mostrar el total de visitas -->
    <div class="kpi-box">
        <div class="kpi-label">Visitas</div>
        <div class="kpi-value" th:text="${totalVisitas}">0</div>
    </div>
    <!-- Cuadro para mostrar el total de negociaciones -->
    <div class="kpi-box">
        <div class="kpi-label">Negociaciones</div>
        <div class="kpi-value" th:text="${totalNegociaciones}">0</div>
    </div>
    <!-- Cuadro para mostrar el total de apartados -->
    <div class="kpi-box">
        <div class="kpi-label">Apartados</div>
        <div class="kpi-value" th:text="${totalApartados}">0</div>
    </div>
</div>

<!-- Contenedor para la gráfica -->
<div id="chart-container" class="chart-container"></div>

<script th:inline="javascript">
    /*<![CDATA[*/
    let chart;
    document.addEventListener('DOMContentLoaded', function() {
        chart = Highcharts.chart('chart-container', {
            chart: {
                backgroundColor: '#1F1D1C',
                type: 'line'
            },
            title: {
                text: '',
                style: {
                    color: '#FFFFFF'
                }
            },
            xAxis: {
                categories: /*[[${dealsDates}]]*/ ,
                labels: {
                    rotation: -45, // Opcional para evitar superposición
                    style: {
                        color: '#FFFFFF'
                    }
                }
            },
            yAxis: {
                title: {
                    text: 'Número de Tratos',
                    style: {
                        color: '#FFFFFF'
                    }
                },
                labels: {
                    style: {
                        color: '#FFFFFF'
                    }
                }
            },
            legend: {
                itemStyle: {
                    color: '#FFFFFF'
                }
            },
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: true,
                        style: {
                            color: '#FFFFFF'
                        }
                    },
                    enableMouseTracking: true
                }
            },
            series: [{
                name: 'Tratos Totales',
                data: /*[[${dealsCounts}]]*/
            }, {
                name: 'Interesados',
                data: /*[[${interesados}]]*/
            }, {
                name: 'Contactados',
                data: /*[[${contactados}]]*/
            }, {
                name: 'Citas',
                data: /*[[${citas}]]*/
            }, {
                name: 'Visitas',
                data: /*[[${visitas}]]*/
            }, {
                name: 'Negociaciones',
                data: /*[[${negociaciones}]]*/
            }, {
                name: 'Apartados',
                data: /*[[${apartados}]]*/
            }]
        });
    });
    /*]]>*/
</script>

<!-- Título general para los KPIs -->
<h2 class="kpi-title-2">¿Cuales son las fuentes mas efectivas?</h2>

<!-- Tabla para mostrar datos por fuente -->
<table class="source-table">
    <thead>
    <tr>
        <th>Fuente</th>
        <th>Leads</th>
        <th>Interesados</th>
        <th>Contactados</th>
        <th>Citas</th>
        <th>Visitas</th>
        <th>Negociaciones</th>
        <th>Apartados</th>
        <th>Abiertos</th>
        <th>Perdidos</th>
        <th>Ganados</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="entry : ${dealsBySource}">
        <td th:text="${entry.key}">Fuente</td>
        <td th:text="${totalDealsBySource[entry.key] != null ? totalDealsBySource[entry.key] : 0}" data-value="${totalDealsBySource[entry.key] != null ? totalDealsBySource[entry.key] : 0}" style="text-align: center;">0
        </td>
        <td th:text="${entry.value['Interesado'] != null ? entry.value['Interesado'] : 0}" data-value="${entry.value['Interesado'] != null ? entry.value['Interesado'] : 0}" style="text-align: center;">0
        </td>
        <td th:text="${entry.value['Contactado'] != null ? entry.value['Contactado'] : 0}" data-value="${entry.value['Contactado'] != null ? entry.value['Contactado'] : 0}" style="text-align: center;">0
        </td>
        <td th:text="${entry.value['Cita'] != null ? entry.value['Cita'] : 0}" data-value="${entry.value['Cita'] != null ? entry.value['Cita'] : 0}" style="text-align: center;">0
        </td>
        <td th:text="${entry.value['Visita'] != null ? entry.value['Visita'] : 0}" data-value="${entry.value['Visita'] != null ? entry.value['Visita'] : 0}" style="text-align: center;">0
        </td>
        <td th:text="${entry.value['Negociación'] != null ? entry.value['Negociación'] : 0}" data-value="${entry.value['Negociación'] != null ? entry.value['Negociación'] : 0}" style="text-align: center;">0
        </td>
        <td th:text="${entry.value['Apartado'] != null ? entry.value['Apartado'] : 0}" data-value="${entry.value['Apartado'] != null ? entry.value['Apartado'] : 0}" style="text-align: center;">0
        </td>
        <td th:text="${openDealsBySource[entry.key] != null ? openDealsBySource[entry.key] : 0}" data-value="${openDealsBySource[entry.key] != null ? openDealsBySource[entry.key] : 0}" style="text-align: center;">0
        </td>
        <td th:text="${lostDealsBySource[entry.key] != null ? lostDealsBySource[entry.key] : 0}" data-value="${lostDealsBySource[entry.key] != null ? lostDealsBySource[entry.key] : 0}" style="text-align: center;">0
        </td>
        <td th:text="${wonDealsBySource[entry.key] != null ? wonDealsBySource[entry.key] : 0}" data-value="${wonDealsBySource[entry.key] != null ? wonDealsBySource[entry.key] : 0}" style="text-align: center;">0
        </td>
    </tr>
    </tbody>

    <tfoot>
    <tr>
        <th>Total</th>
        <td th:text="${totalDeals}" style="text-align: center;">0</td>
        <td th:text="${totalInteresados}" style="text-align: center;">0</td>
        <td th:text="${totalContactado}" style="text-align: center;">0</td>
        <td th:text="${totalCitas}" style="text-align: center;">0</td>
        <td th:text="${totalVisitas}" style="text-align: center;">0</td>
        <td th:text="${totalNegociaciones}" style="text-align: center;">0</td>
        <td th:text="${totalApartados}" style="text-align: center;">0</td>
        <td th:text="${totalOpenDeals}" style="text-align: center;">0</td>
        <td th:text="${totalLostDeals}" style="text-align: center;">0</td>
        <td th:text="${totalWonDeals}" style="text-align: center;">0</td>
    </tr>
    </tfoot>
</table>

<script>
    // Actualización dinámica de la tabla
    document.addEventListener('DOMContentLoaded', function() {
        const table = document.querySelector('.source-table tbody');
        const rows = table.querySelectorAll('tr');
        // Definir los índices de las columnas para los datos
        const columns = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10];
        const maxValues = {};
        // Encontrar los valores máximos para cada columna
        columns.forEach(colIndex => {
            maxValues[colIndex] = 0;
            rows.forEach(row => {
                const cell = row.cells[colIndex];
                if (cell) {
                    const value = parseInt(cell.dataset.value) || 0;
                    if (value > maxValues[colIndex]) {
                        maxValues[colIndex] = value;
                    }
                }
            });
        });
        // Aplicar colores basados en la intensidad
        rows.forEach(row => {
            columns.forEach(colIndex => {
                const cell = row.cells[colIndex];
                if (cell) {
                    const value = parseInt(cell.dataset.value) || 0;
                    const maxValue = maxValues[colIndex];
                    const intensity = maxValue ? value / maxValue : 0;
                    const color = `rgba(0, 0, 255, ${intensity})`; // Color azul con opacidad variable
                    cell.style.backgroundColor = color;
                }
            });
        });
    });
</script>

<!-- Título general para los KPIs -->
<h2 class="kpi-title-3">¿Qué no está funcionando?</h2>

<!-- Contenedor para la tabla y gráfica -->
<div class="table-chart-container">
    <!-- Tabla de razones de pérdida -->
    <table class="source-table-reason">
        <thead>
        <tr>
            <th>Razón de Pérdida</th>
            <th>Total</th>
            <th>Porcentaje</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="entry : ${sortedLostReasons}" style="text-align: left;">
            <td th:text="${entry.key}" style="text-align: left;"></td>
            <td th:text="${entry.value}" style="text-align: center;"></td>
            <td th:text="${reasonsWithPercentages[entry.key]}" style="text-align: center;"></td>
        </tr>
        <tr class="total">
            <td style="background-color: #a1725a;"><strong>Total</strong></td>
            <td th:text="${totalLostReasons}" style="text-align: center;">0</td>
            <td style="text-align: center;">100%</td>
        </tr>
        </tbody>
    </table>

    <!-- Contenedor para la gráfica de pastel -->
    <div id="pie-container"></div>
</div>
<!-- Título general para los KPIs -->
<h2 class="kpi-title-4">¿Qué no está funcionando?</h2>
<script th:inline="javascript">
    /*<![CDATA[*/
    document.addEventListener('DOMContentLoaded', function() {
        // Variables Thymeleaf convertidas en formato JavaScript
        var sortedLostReasons = /*[[${sortedLostReasons}]]*/ {};
        var reasonsWithPercentages = /*[[${reasonsWithPercentages}]]*/ {};
        var totalLostReasons = /*[[${totalLostReasons}]]*/ 0;

        // Preparar datos para la gráfica de pastel
        var pieData = Object.keys(sortedLostReasons).map(function(reason) {
            return {
                name: reason,
                y: sortedLostReasons[reason]
            };
        });

        Highcharts.chart('pie-container', {
            chart: {
                type: 'pie',
                backgroundColor: '#1F1D1C'
            },
            title: {
                text: '',
                style: {
                    color: '#FFFFFF' // Color del título
                }
            },
            tooltip: {
                pointFormat: '{point.name}: <b>{point.percentage:.1f}%</b>',
                style: {
                    color: '#FFFFFF' // Color del texto del tooltip
                }
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true, // Habilita las etiquetas de datos
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                        style: {
                            color: '#FFFFFF' // Color del texto de los data labels
                        }
                    }
                }
            },
            series: [{
                name: 'Razón de Pérdida',
                colorByPoint: true,
                data: pieData,
                colors: ['#FF6347', '#4682B4', '#32CD32', '#FFD700', '#FF69B4', '#8A2BE2', '#5F9EDC', '#D2691E', '#FF4500', '#6A5ACD'] // Colores personalizados para cada segmento
            }]
        });
    });
    /*]]>*/
</script>

<div id="container" style="width: 50%; height: 400px;"></div>
<script th:inline="javascript">
    /*<![CDATA[*/
    document.addEventListener('DOMContentLoaded', function() {
        const openDeals = /*[[${orderedOpenDeals}]]*/ [];
        const lostDeals = /*[[${orderedLostDeals}]]*/ [];
        const wonDeals = /*[[${orderedWonDeals}]]*/ [];
        const totalOpenDeals = /*[[${totalOpenDeals}]]*/ [];
        const totalLostDeals = /*[[${totalLostDeals}]]*/ [];
        const totalWonDeals = /*[[${totalWonDeals}]]*/ [];
        Highcharts.chart('container', {
            chart: {
                type: 'bar',
                backgroundColor: '#1F1D1C' // Color de fondo del gráfico
            },
            title: {
                text: '',
                align: 'left',
                style: {
                    color: '#FFFFFF', // Color del texto del título
                    fontFamily: '"Arial", monospace' // Aplica la fuente
                }
            },
            subtitle: {
                text: '',
                align: 'left',
                style: {
                    color: '#FFFFFF', // Color del texto del subtítulo
                    fontFamily: '"Arial", monospace' // Aplica la fuente
                }
            },
            xAxis: {
                categories: ['Interesado', 'Contactado', 'Cita', 'Visita', 'Negociación', 'Apartado'],
                title: {
                    text: null
                },
                labels: {
                    style: {
                        color: '#FFFFFF', // Color del texto de las etiquetas del eje X
                        fontFamily: '"Arial", monospace' // Aplica la fuente
                    }
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: '',
                    align: 'high'
                },
                labels: {
                    style: {
                        color: '#FFFFFF', // Color del texto de las etiquetas del eje Y
                        fontFamily: '"Arial", monospace' // Aplica la fuente
                    }
                }
            },
            tooltip: {
                valueSuffix: '',
                backgroundColor: '#1F1D1C', // Color de fondo del tooltip
                borderColor: '#FFFFFF', // Color del borde del tooltip
                style: {
                    color: '#FFFFFF', // Color del texto del tooltip
                    fontFamily: '"Arial", monospace' // Aplica la fuente
                }
            },
            plotOptions: {
                bar: {
                    borderRadius: '50%',
                    dataLabels: {
                        enabled: true,
                        color: '#FFFFFF', // Color del texto de las etiquetas de datos
                        style: {
                            fontFamily: '"Arial", monospace' // Aplica la fuente
                        }
                    },
                    groupPadding: 0.1
                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                x: -5,
                y: 5,
                floating: false,
                borderWidth: 1,
                backgroundColor: '#1F1D1C',
                itemStyle: {
                    color: '#FFFFFF', // Color del texto de la leyenda
                    fontFamily: '"Arial", monospace' // Aplica la fuente
                }
            },
            credits: {
                enabled: false
            },
            series: [{
                name: 'Abiertos: ' + totalOpenDeals,
                data: openDeals,
                color: '#7cb5ec' // Color para la serie 'Abiertos'
            }, {
                name: 'Perdidos: ' + totalLostDeals,
                data: lostDeals,
                color: '#ff4040' // Color para la serie 'Perdidos'
            }, {
                name: 'Ganados: ' + totalWonDeals,
                data: wonDeals,
                color: '#90ed7d' // Color para la serie 'Ganados'
            }]
        });
    })
    /*]]>*/
</script>
</body>

</html>