<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rango de Fechas</title>
</head>
<body>
<h1>Selecciona un Rango de Fechas</h1>
<form th:action="@{/prueba}" method="get">
    <label for="startDate">Fecha de Inicio:</label>
    <input type="date" id="startDate" name="startDate" th:value="${startDate}"><br><br>

    <label for="endDate">Fecha de Fin:</label>
    <input type="date" id="endDate" name="endDate" th:value="${endDate}"><br><br>

    <button type="submit">Enviar</button>
</form>

<!-- Mostrar los resultados -->
<h2>Datos por Fecha</h2>
<table>
    <thead>
    <tr>
        <th>Fecha</th>
        <th>Conteo</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="entry : ${fechas}">
        <td th:text="${entry.key}">Fecha</td>
        <td th:text="${entry.value}">Conteo</td>
    </tr>
    </tbody>
</table>
</body>
</html>
