<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Resultados Filtrados</title>
</head>
<body>
<h1>Tratos Filtrados</h1>
<table>
    <thead>
    <tr>
        <th>Fecha</th>
        <!-- Agregar más columnas según sea necesario -->
    </tr>
    </thead>
    <tbody>
    <tr th:each="deal : ${filteredDeals}">
        <td th:text="${deal.addTime}"></td>
        <!-- Agregar más celdas según sea necesario -->
    </tr>
    </tbody>
</table>
<a href="/prueba">Volver</a>
</body>
</html>
